@import "~leaflet/dist/leaflet";
@import "~leaflet.fullscreen/Control.FullScreen";



.map-wrapper {
    width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: space-around;
    // & > div {
    //     display: block;
    //     width: 100%;
    // }
}

.fullscreen-icon {
    background-image: url(../images/icon-fullscreen.png) !important;
    background-size: auto;
    background-position: center;
}
.leaflet-retina .fullscreen-icon {
    background-image: url(../images/icon-fullscreen-2x.png) !important;
    background-size: 26px 26px;
}
.leaflet {
    &-container {
        width: calc(100% + 0em);
        height: 100%;
    }
    &-popup {
        white-space: pre-wrap;
    }
    &-marker-icon {
        /* &.location {
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid 3.5px $saft-white;
            border-radius: 50% !important;

            background-color: $saft-yellow;
            &.is-active {
                background-color: $saft-green;
            }
            &.is-editing {
                background-color: $saft-red;
            }
            &.disabled {
                opacity: 0.5;
            }
        } */
    }
}


.layer-selector {
    display: flex;

    h3 {
        margin-top: 0;
    }

    &-list,
    &-detail {
        padding: 2rem;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

    }
    .property,
    li {
        padding: 0.5rem;
    }

    .btn {
        cursor: pointer;
        &.active {
            background-color: cyan;
        }
        &:hover {
            background-color: peachpuff;
        }
        &.disabled {
            cursor: auto;
            opacity: 0.25;
        }
    }

    &-list {
        flex-basis: 400px;
        li {
            padding: 0.5rem;
            display: flex;
            justify-content: flex-start;
            & > span {
                flex-basis: 130px;
                &:last-child {
                    flex-grow: 3;
                }
            }
        }
    }
    &-detail {
        flex-basis: 500px;
        .property {
            display: flex;
            justify-content: flex-start;

            &.last {
                margin-bottom: 2rem;
            }

            ul {
                margin-top: -0.5rem;
                margin-left: -0.5rem;
            }

            & > span {
                flex-basis: 190px;
                &:nth-child( 1 ) {
                    flex-basis: 170px;
                }
                &:nth-child( 2 ) {
                    flex-basis: 210px;
                }
                &:nth-child( 3 ) {
                    flex-basis: 30px;
                }
            }

        }
    }
}

.tile_url_path {
    min-height: 20px;
    padding: 2.25rem;
    padding-bottom: 0;
}